<!--  http://127.0.0.1:3000/vue/vue83.html -->
<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<script src="https://unpkg.com/vue"></script>
<h1>第8章 绑定表单数组-3.单选按钮组件</h1>

<form id="vue_form" action="/vueForm">
    <label>Name</label>
    <input name = "msg" placeholder="Please Input Name" v-model="message" />
    <p>Message is {{message}}</p>
    <span>multiple line text</span>
    <p style="white-space:pre-line"> {{message1}}</p>
    <br>
    <textarea v-model="message1" name="multiMsg" placeholder="Multiple line text"></textarea>
    <p></p>

    <input type="checkbox" id="jack" value="jack" name="c1" v-model="checkedNames">
    <label for="jack">Jack</label>

    <input type="checkbox" id="john" value="john" name="c2" v-model="checkedNames">
    <label for="john">John</label>

    <input type="checkbox" id="mike" value="mike" name="c3" v-model="checkedNames">
    <label for="mike">Mike</label>

    <p></p>
    <span>Checked names : {{checkedNames}}</span>

    <p></p>
    <input type="radio" id="one" name="radio1" value="One" v-model="picked">
    <label for="one">One</label>

    <input type="radio" id="two" name="radio2" value="Two" v-model="picked">
    <label for="two">Two</label>

    <input type="radio" id="three" name="radio3" value="Three" v-model="picked">
    <label for="three">Three</label>

    <p></p>
    <span>picked radio : {{picked}}</span>


    <p></p>
    <input type="submit" value="Submit" />
</form>

<script>

    var app1 = new Vue({
        el:"#vue_form",
        data:{
            message:"",
            message1:"",
            checkedNames:[],
            picked:''
        }
    })

</script>

</body>
</html>